@page
@model ZeroStore.Pages.AppModel
@{
	ViewData["Title"] = Model._App.Name;
}

<div class="text-center">
	<h1>@Model._App.Name</h1><br>
</div>
<table class="table">
	<tbody>
		<tr>
			<td rowspan="3"><img src="@Model.GetImage(Model._App.Picture)" /></td>
			<td>Разработчик: <a asp-page="DProfile" asp-route-id="@Model._Developer.Id">@Model._Developer.Nick</a></td>
		</tr>
		<tr>
			<td>Жанр: @Model._App.Genre</td>
		</tr>
		<tr>
			<td>Цена: @Model._App.Cost</td>
		</tr>
	</tbody>
</table>
<p>
	Описание: <br>
	@Model._App.Description
</p>
<br>
<form method="post">
	@if (Model.IsCanBuyGood)
	{
		<input type="submit" value="Купить" asp-page-handler="OnPost" asp-route-good_id="@Model._App.Id" asp-route-type="0" />
		@if (Model.IsAppBought)
		{
			<p>Вы уже купили это приложение</p>
		}
	}
</form>
<br>
<form method="post">
	<p>
		DLC:<br>
		<ol>
			@foreach (var dlc in Model.DLCs)
			{
				<li>
					@dlc.Name @dlc.Cost руб @if (Model.IsCanBuyGood){ <input type="submit" value="Купить" asp-route-good_id="@dlc.Id" asp-route-type="1"/> }
				</li>
			}
		</ol>
	</p>
</form>
<br>
<p>
	Комментари: <br>
	@foreach (var comment in Model.Comments)
	{
		@comment <br>
	}
</p>

